NODE_ENV=development
PORT=80
HOST=0.0.0.0
ROOTPATH=/flights

# All the rest aren't needed in this fork
EXTRA_DB_HOST=host
EXTRA_DB_PORT=5432
EXTRA_DB_USER=user
EXTRA_DB_PASS=password
EXTRA_DB_NAME=extra_layers
EXTRA_DB_TABLE=gssurgo
CACHE_PATH=/tmp
PROXY_BASE_URL=http://proxy
CORE_DB_HOST=postgres
CORE_DB_PORT=5432
CORE_DB_USER=ceres
CORE_DB_PASS=ceres
CORE_DB_NAME=works_dev
CUSTOM_LAYERS_BUCKET=custom_bucket
CUSTOM_LAYERS_REGION=us-west-2
IMAGERY_BUCKET=imagery_bucket
IMAGERY_REGION=us-west-2
SUPPORT_USER=
REDIS_HOST=redis
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CLOUDFRONT_DISTRIBUTION=