version: '3'
services:
  tiler:
    build:
        context: .
        dockerfile: Dockerfile
        args:
            - ENV=development
    volumes:
      - .:/srv/tiler
    ports:
      - 8888:80
      - 9229:9229
    working_dir: /srv/tiler
    command: npm run dev
